<!-- Page to change the password -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/design.css">
</head>
<body>
    <%- include('../../partial/header') %>
    <div class="container">
        <h1>Please enter your mail</h1>
        <%- include ('../../partial/messages') %>
        <form action="" method="POST" class="form-horizontal">
            <!-- errors: if -->
            <div class="form-group">
                <label for=""></label>
                <input type="email" class="form-control" name="email" placeholder="Email address ...">
            </div>
          
            <button type="submit" id="login" class="btn btn-success">Send Recovery Mail</button>
        </form>
    <div>
</body>
</html>