<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<nav class="top-bar">
    <a href="/" class="h1">World Map</a>

    <button class="navbar-toggler"><i class="fa fa-bars"></i></button>
    <div class="head-menu">    
        <% if (typeof user != 'undefined') {%>
           
                <div class="user-menu">
                    <% if (section == "map") {%>
                        <div id="search" class="search-tab">
                            <input type="search" placeholder="Event Name ..." id="search-event">
                            <div class="suggestions" id="suggestions">
                            </div>
                        </div>
                        <a class="nav-item" id="add-event" href="#">Add Event</a>
                        <a class="nav-item d-none" id="update-event" href="#">Update Event</a>
                        <a class="nav-item" href="#" id="saved-events">Saved Events</a> 
                    <%} else { %>
                        <a class="nav-item" id="user-name" href="/map">
                            View Map
                        </a>
                    <%} %>

                    <% if (user.is_admin) {%>
                        <a class="nav-item" href="/dashboard">
                            Dashboard
                        </a>
                    <%} %>
            <div>
            <a class="nav-item" id="user-name" data-admin="<%= user.is_admin %>" href="/user_profile/<%= user.username %>/"><%= user.username %></a>   
            <a href="/logout" class="nav-item">Logout</a>  
        <%} else { %>
            <a href="/register" class="nav-item">Register</a>
            <a href="/login" class="nav-item">Login</a>  
        <%} %>
            </div>
        </div>
        
    </div>
</nav>

<script>
    let toggler = document.querySelector('.navbar-toggler');
    var menu = document.querySelector('.head-menu');

    $(toggler).on("click", function(e) {
        menu.classList.toggle("open");
    });
</script>