<nav class="top-bar">
    <a href="/" class="h1">World Map</a>
    <div class="head-menu">
        <div id="search" class="search-tab">
            <input type="search" placeholder="Event Name ..." id="search-event">
            <div class="suggestions" id="suggestions">
            </div>
        </div>
        <a class="nav-item" id="add-event" href="#">Add Event</a>
        <a class="nav-item d-none" id="update-event" href="#">Update Event</a>
        <a class="" href="#" id="saved-events">Saved Events</a>           
        <a class="nav-item" id="user-name" href="#"></a>   
        <a href="/register">Register</a>
        <a href="/login">Login</a>   
    </div>
</nav>