<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/css/design.css">
</head>
<body>
    <%- include('../partial/header') %>
    <div class="container">
        <h1>Enter your details to login!</h1>
        <form action="" method="POST">
            <input type="email" name="email" id="email" placeholder="Email">
            <br>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <button type="submit" name="login" id="login" class="">Login</button>
        </form>
    <div>
</body>
</html>