<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/design.css">
</head>
<body>
    <%- include('../partial/header') %>
    <div class="container">
        <h1>Create your account</h1>

        <form action="" method="POST">
            <input type="text" name="username" id="username" placeholder="Username">
            <br>
            <input type="email" name="email" id="email" placeholder="Email">
            <br>
            <input type="email" name="email2" id="email2" placeholder="Confirm email">
            <br>
            <input type="text" name="country" id="country" placeholder="Country">
            <br>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <input type="password" name="password2" id="password2" placeholder="Confirm Password">
            <br>
            <button type="submit" name="register" id="register" class="">Create Account</button>
        </form>
    <div>
</body>
</html>